.card {
    width: 25%;
    height: 450px;
}

.card img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 308px;
}

.card h3 {
    padding-top: 23px;
    text-align: center;
    color: #000;
    font-size: 20px;
    font-weight: 400;
}

.prices {
    display: flex;
    padding-top: 21px;
    align-items: center;
    gap: 17px;
    text-align: center;
    justify-content: center;
}

.oldPrice {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    text-decoration: line-through;
}

.price {
    color: #963B40;
    font-size: 20px;
    font-weight: 500;
}