.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.productsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2.2210%;
  row-gap: 1.4em;
  /* margin-top: 4rem !important; */
}

.productsWrapper > h2 {
  margin-top: 4rem !important;
}

.productsWrapper > a {
  width: auto !important;
}

.blog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  margin-top: 4rem;
}

.blogContent {
  width: 555px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.blogContent > button {
  width: 130px !important;
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}